<div *ngIf="!validSubmit" class="ml-16">
  <button
    class="text-[20px] text-[#0069D1] flex gap-1 my-2"
    *ngIf="!flag"
    (click)="onBack()"
  >
    <span class="material-symbols-outlined"> reply </span>Go Back
  </button>

  <div class="mt-4" [ngStyle]="{ 'margin-top': flag ? '50px' : '0' }">
    <div class="min-w-[333px] max-w-[333px]">
      <h2 class="text-[22px] font-semibold">Create Account</h2>
      <div class="flex gap-1 mt-4">
        <div class="signUpToplineBlue"></div>
        <div [ngClass]="flag ? 'signUpToplineGray' : 'signUpToplineBlue'"></div>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-start gap-6">
    <div *ngIf="flag" class="mt-6">
      <div class="my-4">
        <p class="inputHeadings">Enter Email ID</p>
        <input
          class="inputBox"
          [(ngModel)]="emailOrPhone"
          type="text"
          placeholder="Loremipsum@gmail.com"
        />
      </div>

      <div class="my-4">
        <p class="inputHeadings">Enter Full name</p>
        <input
          class="inputBox"
          [(ngModel)]="name"
          type="text"
          placeholder="Full name"
        />
      </div>

      <div class="mt-2 mb-6">
        <p class="inputHeadings">Create Password</p>
        <div
          class="inputBox flex items-center justify-between outline-none border-none"
        >
          <input
            class="bg-[#E4ECEE] w-3/4"
            [type]="passwordFieldType"
            [(ngModel)]="password"
            placeholder="Password"
            [ngClass]="{'red-border': !flag}"
          />

          <span
            *ngIf="passwordFieldType === 'text'"
            class="material-symbols-outlined mr-2 text-[#0069D1]"
            (click)="togglePasswordVisibility()"
          >
            visibility
          </span>

          <span
            *ngIf="passwordFieldType === 'password'"
            class="material-symbols-outlined mr-2 text-[#0069D1]"
            (click)="togglePasswordVisibility()"
          >
            visibility_off
          </span>
        </div>
      </div>

      <button class="Appbutton mt-2" (click)="onContinue()">Next</button>
    </div>

    <!-- Page 2 of signup form  -->
    <div *ngIf="!flag" class="mt-4">
      <div>
        <p class="inputHeadings">Organization-name</p>
        <input
          class="inputBox"
          [(ngModel)]="organizationName"
          type="text"
          placeholder="Organization name"
        />
      </div>

      <div>
        <p class="inputHeadings">Organization-id</p>
        <input
          class="inputBox"
          [(ngModel)]="organizationId"
          type="text"
          placeholder="Organization id"
        />
      </div>

      <div>
        <p class="inputHeadings">Designation</p>
        <select class="designation" [(ngModel)]="designation">
          <option value="Developer">Developer</option>
          <option value="Manager">Manager</option>
        </select>
      </div>

      <div>
        <p class="inputHeadings">Birth-date</p>
        <input class="inputBox" [(ngModel)]="birthDate" type="date" />
      </div>

      <div class="flex gap-8 max-w-[333px] justify-between">
        <div>
          <p class="inputHeadings">City</p>
          <input
            [(ngModel)]="city"
            type="text"
            class="inputBox max-w-[144px]"
            placeholder="City"
          />
        </div>
        <div>
          <p class="inputHeadings">Pincode</p>
          <input
            [(ngModel)]="pincode"
            type="number"
            maxlength="6"
            class="inputBox max-w-[144px]"
            placeholder="Pincode"
            (input)="validatePincode($event)"
          />
        </div>
      </div>

      <p
        class="text-[#DB3F27] text-sm font-medium text-center pt-2"
        *ngIf="errorFlag"
      >
        {{errorMessage}}
      </p>

      <button class="Appbutton mt-4 mb-2" (click)="handleSubmit()">Next</button>
    </div>
  </div>
</div>

<!-- create user page -> will try with seperate comp with props -->

<div *ngIf="validSubmit" class="flex flex-col items-center">
  <img class="my-14" src="../../assets/greenTick.svg" alt="tickImage" />
  <p class="font-bold text-[28px]">Welcome to Solvei8!</p>

  <p class="font-normal text-[20px] text-center mt-6 text-[#737E8A]">
    Redirecting you to the Login screen. This might take a few seconds...
  </p>
</div>
