/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-custom {
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.12);
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.designation{
  background-color: #E4ECEE;
  height: 44px;
  width: 333px;
  outline: none;
  padding-left: 15px;
  border-radius: 16px;
  margin-top: 5px;
  border: none;
}

input{
  outline: none;
  border: none;
}

.inputType{
  background-color: #E4ECEE;
  height: 44px;
  width: 333px;
  outline: none;
  padding-left: 15px;
  border-radius: 16px;
  margin-top: 5px;
  border: none;
}

.inputBox{
  background-color: #E4ECEE;
  height: 44px;
  width: 333px;
  outline: none;
  padding-left: 15px;
  border-radius: 16px;
  margin-top: 5px;
  border: none;
}





.signUpToplineBlue{
  width: 100%;
  height: 8px;
  border-radius: 40px;
  background-color: #0069D1;
}

.signUpToplineGray{
  width: 100%;
  height: 8px;
  border-radius: 40px;
  background-color: #CFD0D4;
}
.Appbutton{
  background-color: #0069D1;
  color: white;
  font-weight: 600;
  border-radius: 16px;
  height: 44px;
  text-align: center;
  width: 333px;
}

.Appbutton:hover{
  background-color: #358ce2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.inputHeadings{
  color: #0069d1;
  font-weight: 600;
  /* font-size: 1.1rem; */
  font-size: 15px;

}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 18
} */

/* <style> */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}
/* </style> */

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
} */


.red-border {
  border: 2px solid #DB3F27; 
}

.backgroundRounded {
  content: "";
  background: hsla(212, 100%, 35%, 1);

  padding: 500px;

  background-image: linear-gradient(
    0deg,
    hsl(217deg 100% 50%) 0%,
    hsl(217deg 100% 55%) 0%,
    hsl(217deg 100% 59%) 0%,
    hsl(217deg 100% 64%) 1%,
    hsl(217deg 100% 68%) 2%,
    hsl(217deg 100% 73%) 5%,
    hsl(217deg 100% 77%) 9%,
    hsl(217deg 100% 82%) 16%,
    hsl(217deg 100% 86%) 30%,
    hsl(218deg 100% 91%) 66%,
    hsl(217deg 100% 95%) 89%,
    hsl(0deg 0% 100%) 100%
  );
}
